.row {
    background: #233438;
    -webkit-box-shadow: 10px 10px 63px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 63px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 63px -21px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.abs-center {
    padding-top: 15%;
}